@tailwind base;
@tailwind components;
@tailwind utilities;

:focus {
    outline: transparent;
    box-shadow: 0 0 0 2px #5AB5FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* body {
    -webkit-font-smoothing: antialiased;
    background-color: #202024;
} */

/* .grid-cols-256px-1fr{
   grid-template-columns: 256px 1fr;
}

@media (max-width: 768px) {
    .grid-cols-256px-1fr{
        grid-template-columns: 1fr;
    }
} */